# Ignore node_modules
node_modules/

# Ignore .env file
.env
.env.local
.env.development
.env.production
.env.test

# Ignore build files
.next/
out/
dist/

# Ignore debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore local development files
.DS_Store
.idea/
.vscode/

# Ignore dependency directories
/.pnp
.pnp.js

# Ignore package manager files
package-lock.json
yarn.lock

# Ignore cache directories
.cache/
.temp/
.tmp/

# Ignore OS-specific files
Thumbs.db