body {
  font-family: Arial, sans-serif;
  background: #111;
  color: gold;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: black;
}

.progress-container {
  width: 100%;
  height: 20px;
  background: grey;
}

.progress-bar {
  height: 100%;
  background: gold;
}
